{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Jabber server feature checker" %}{% endblock title %}

{% block pagetitle %}{% trans "Jabber server feature checker" %}{% endblock pagetitle %}

{% block body %}
<ul>{% for server in object_list %}
    <li><a href="{% url 'server-test:server' domain=server.domain %}">{{ server.domain }}</a></li>
{% endfor %}</ul>

<form action="{% url 'server-test:overview' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Start test' %}" />
</form>

{% endblock body %}
