{% load i18n server_test %}
<h2 id="connectivity" class="page-header">{{ connect.status|status }} {% trans "Connectivity" %}</h2>
<p>{% blocktrans %}Test that server is listening on all adress/port combinations
indicated by your DNS setup.{% endblocktrans %}</p>

{% if connect.status == False %}
<div class="alert alert-danger" role="alert">
    <strong>{% trans "Error:" %}</strong>
    {% blocktrans %}The server does not appear to listen on all address/port combinations indicated
    by your DNS setup. Please see below for further details. The site will not do any further
    checks until these issues have been fixed.{% endblocktrans %}
</div>
{% endif %}

<div class="row">
    <div class="col-md-5">
        <h3>{% trans "Client SRV records" %}</h3>
        <table class="table table-bordered">
            {% for record in connect.client %}
                <tr><th colspan="2">{{ record.host }}:{{ record.port }}</th></tr>
                {% for ip, status in record.ips.items %}
                    <tr><td>{{ ip }}</td><td>{{ status|status }}</td><tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
    <div class="col-md-5">
        <h3>{% trans "Server SRV records" %}</h3>
        <table class="table table-bordered">
            {% for record in connect.server %}
                <tr><th colspan="2">{{ record.host }}:{{ record.port }}</th></tr>
                {% for ip, status in record.ips.items %}
                    <tr><td>{{ ip }}</td><td>{{ status|status }}</td><tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
