{% load i18n server_test %}

<h2 id="dns" class="page-header">{{ dns.status|status }} {% trans "DNS records" %}</h2>
<p>{% blocktrans %}Check validity of client and server SRV records and the availablity of at IPv4
and IPv6 records. Your server will only be listed if you have valid SRV records
and you have valid IPv4 records. IPv6 support is currently optional.{% endblocktrans %}</p>
<div class="row">
    <div class="col-md-5">
        <table class="table table-bordered">
            <tr><th colspan="2">{% trans "SRV records" %}</th></tr>
            <tr><td>{% trans "Client records" %}</td><td>{{ dns.client|status }}</td></tr>
            <tr><td>{% trans "Server records" %}</td><td>{{ dns.server|status }}</td></tr>
        </table>
    </div>
    <div class="col-md-5">
        <table class="table table-bordered">
            <tr><th colspan="2">{% trans "IPv4 records" %}</th></tr>
            <tr><td>{% trans "Client IPv4" %}</td><td>{{ dns.client_ipv4|status }}</td></tr>
            <tr><td>{% trans "Server IPv4" %}</td><td>{{ dns.server_ipv4|status }}</td></tr>
            {% if ip6 %}
            <tr><th colspan="2">{% trans "IPv6 records" %}</th></tr>
            <tr><td>{% trans "Client IPv6" %}</td><td>{{ dns.client_ipv6|status }}</td></tr>
            <tr><td>{% trans "Server IPv6" %}</td><td>{{ dns.server_ipv6|status }}</td></tr>
            {% endif %}
        </table>
    </div>
</div>
