{% load i18n server_test %}

<h2 id="xeps" class="page-header">{% trans "XMPP Enhancement proposals" %}</h2>
<p>{% blocktrans %}Various optional features of the XMPP protocol. Generally more support means a better
user experience, but you might turn of some features deliberately.{% endblocktrans %}</p>
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered">
            <tr><th>{% trans "XEP" %}</th><th>{% trans "Support" %}</th><th>{% trans "Notes" %}</th></tr>
            {% for key, data in xeps|dictkeysort %}
                {{ data|xep:key }}
            {% endfor %}
        </table>
    </div>
</div>
