{% load i18n server_test %}

<h2 id="xeps" class="page-header">{% trans "XMPP Enhancement proposals" %}</h2>
<p>{% blocktrans %}Various optional features of the XMPP protocol. Generally more support means a better
user experience, but you might turn of some features deliberately.{% endblocktrans %}</p>
<div class="row">
    <div class="col-md-5">
        <table class="table table-bordered">
            <tr><th>{% trans "XEP" %}</th><th>{% trans "Support" %}</th><th><{% trans "Notes" %}</th></tr>
            {{ xeps|xep:"0030" }}
            {{ xeps|xep:"0077" }}
            {{ xeps|xep:"0078" }}
            {{ xeps|xep:"0092" }}
            {{ xeps|xep:"0115" }}
            {{ xeps|xep:"0138" }}
            {{ xeps|xep:"0198" }}
            {{ xeps|xep:"0220" }}
            {{ xeps|xep:"0288" }}
            {{ xeps|xep:"0352" }}
        </table>
    </div>
</div>
